doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 #{title}
    form(name="myform", method="get")
        div.input
            span.label(style="paddingRight: 30px") Tiempo en seg
            br
            input(type="number",
                    name="t",
                    autocomplete="off",
                    value="#{tiempo}",
                    min="1",
                    max="1295000"
            )
        div(style="height: 30px")
        button(
            type='submit',
            name='cl',
            value='1'
        ) Tomar foto
        button(
            type='submit'
        ) Cambiar tiempo

